JWT_SECRET= # for SWIE style auth
MNEMONIC= # Cosmos wallet mnemonic for agent
SECRET_AI_API_KEY= # get this from docs

# The host for your running Ollama instance (this is the default)
SECRET_AI_URL=https://secretai-zqtr.scrtlabs.com:21434

# The Ollama model to use for the chat
OLLAMA_MODEL=deepseek-r1:70b

# This tells the Next.js frontend where to send its API calls.
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

LCD_URL=https://lcd.erth.network

APILLON_API_KEY="your-apillon-api-key"
APILLON_API_SECRET="your-apillon-api-secret"
APILLON_BUCKET_UUID="your-apillon-storage-bucket-uuid"